@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<div class="Menu">

    <div class="list-group">
        @foreach (var c in Model)
        {
            <a href="#" class="list-group-item">@c</a>
        }
    </div>
</div>