@{
    ViewData["Title"] = "Home Page";
}

<<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
    <p>Tìm hiểu về cách <a href="https://learn.microsoft.com/aspnet/core">xây dựng ứng dụng web bằng ASP.NET Core</a>.</p>

   
    <a asp-controller="HomeController1" asp-action="Detail" class="btn btn-Detail">
        Đi tới trang Detail
    </a>
</div>
