@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";

}
<h2>Thong tin khach hang</h2>
<p>ten khach hang: vu viet tan</p>
